<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/DEV_Formation/FormationAvril/ProjetSeleniumPOM/src/test/java/SauceApp/Suites">
        <classes>
            <class name="SauceApp.Suites.SuiteLogin">
                <methods>
                    <include name="Test01_loginInvalide"/>
                    <include name="Test02_loginValide"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>